<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Please Place Your Order</title>
</head>
<body>
	<h1>Create Your Order</h1>

	<!-- We are viewing all the orders via the '/orders' view -->
	<div th:each="order : ${orders}">
		<a style="font-size: 1.17em; font-weight: bold; display: block; margin: 1em 0em;" th:if="${order.completed == null || order.completed == false}" th:href="${'/orders/' + {order.id}}" th:text="${'Order id: ' + {order.id}}"></a>
		<h3 th:if="${order.completed == true}"
			th:text="${'Order Id: ' + {order.id}}"></h3>
		<div th:each="bagel : ${order.bagels}">
			<fieldset>
				<legend th:text="${'Bagel #' + {bagel.id}}"></legend>
				Size: <span th:text="${bagel.size}"></span><br />
				 Type: <span th:text="${bagel.breadType}"></span><br /> 
			     Toppings: <span th:each="topping, status : ${bagel.toppings}"
					th:text="${status.last ? topping.description : topping.description + ', '}"></span>
			</fieldset>
		</div>
		<hr />
	</div>

	<!-- We are viewing an individual order via the '/orders/{orderId}' view -->
	<div th:if="${order != null}">
		<div th:each="bagel : ${order.bagels}">
			<fieldset>
				<legend th:text="${'Bagel #' + {bagel.id}}"></legend>
				<a th:href="${'/orders/' + {order.id} + '/bagels/' + {bagel.id} + '/delete'}">Remove Bagel from Order</a><br/><br/>
				Size: <span th:text="${bagel.size}"></span><br /> 
				Crust: <span th:text="${bagel.breadType}"></span><br /> 
				Toppings: <span th:each="topping, status : ${bagel.toppings}" th:text="${status.last ? topping.description : topping.description + ', '}"></span><br/>
				------------<br/>
				Price: $ <span th:text="${#numbers.formatDecimal(bagel.price, 0, 'COMMA', 2, 'POINT')}"></span>
			</fieldset>
		</div>
		<br/>
      <b>Final Price</b>: $ <span th:text="${#numbers.formatDecimal(order.finalPrice, 0, 'COMMA', 2, 'POINT')}"></span>
      <br/><br/>
	</div>

	<div th:if="${order != null}">
		<form th:action="${'/orders/' + {order.id}}" method="post">
			<button>Add Bagel to Order</button>
		</form>

		<form th:action="${'/orders/' + {order.id} + '/reviewOrder'}"
			method="post">
			<button>Submit Order</button>
		</form>
	</div>
	<div th:if="${orders != null}">
		<form action="" method="post">
			<button>Create new Order</button>
		</form>
	</div>

	<form action="/logout" method="post">
		<button>Logout</button>
	</form>

</body>
</html>